/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*My code*/

body{
	background-color: #f3f3f3;
}

header{
	background-color: #fff;
	width:100%;
	height: 100px;
}

a{
	text-decoration: none;
}

header .header-brand{
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	color:#111;
	font-weight: 300;
	text-transform: uppercase;
	display: block;
	margin: 0 auto;
	text-align: center;
	padding:20px 0px;
}

header nav ul{
  margin: 0 auto;
	display: block;
	width: fit-content;
}

header nav ul li{
  display: inline-block;
	float: left;
	list-style: none;
	padding: 0 16px;
}

header nav ul li a{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color:#111;
	font-weight: 600;
}

header .header-cases{
	display: none;
}

@media only screen and (min-width: 1000px) {
	header .header-brand{
		margin: 35px 0;
		float: left;
		text-align: left;
		padding:0px 20px 0px 40px;
		line-height: 30px;
		border-right: 1px solid #111;
	}
	header nav ul{
	  margin: 35px 0px 0px 20px;
		float: left;
		line-height: 30px;
	}

	header nav ul li{

	}

	header nav ul li a{

	}

	header .header-cases{
		margin-top:30px;
		margin-right:40px;
		float: right;
		padding: 0 20px;
		display: block;
		line-height: 40px;
		border: 1px solid #111;
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		color:#111;
		font-weight: 600;
		text-transform: uppercase;
	}

	header .header-cases:hover{
		border: 1px solid blue;
		color: blue;
	}

}

/* Main */

.index-banner{
	width: 100%;
	height: calc(100vh - 100px);
	background-color: #ffdd00;
	display: table;
}

.index-banner h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 100px;
	color:#111;
	font-weight: 800;
	text-align: center;
	text-shadow: 2px 2px #fff;

}

.index-banner h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	color:#111;
	font-weight: 300;
	text-align: center;
	line-height: 1.3em;
	padding: 50px 20px 0px;
}

.vertical-center{
	display: table-cell;
	vertical-align: middle;
}

.wrapper{
	margin: 0 auto;
}

.index-links div{
	margin:20px 20px;
	width: calc(100% - 40px);
	height: 100px;
	background-color: #111;
}

.index-links div h3{
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-size: 60px;
	line-height: 100px;
	color:#fff;
	font-weight: 800;
	text-align: center;
}


@media only screen and (min-width: 1000px) {
	.index-banner{
		width: 100%;
		height: calc(100vh / 2);
		background-color: #ffdd00;
		display: table;
	}
	.index-banner h1 {
		display: block;
		width: 40%;
		margin: 0 auto;
	}

	.index-links{
	  overflow: hidden;
	}

	.index-links div{
		margin:20px 10px 0;
		height: 100px;
		background-color: #111;
		height: 230px;
		float: left;
		line-height: 30px;
	}

	.index-links div h3{

		line-height: 230px;
	}

	.wrapper{
		width: 1000px;
		margin: 0 auto;
	}

	.index-boxlink-square{
		width: calc(25% - 20px) !important;

	}
	.index-boxlink-rectangle{
		width: calc(50% - 20px) !important;

	}

}



/* Footer */

footer{
	width: calc (100% - 20px);
	padding: 20px 20px;
	background-color: #ffdd00;
	margin-top:20px;
	overflow: hidden;
}

footer ul{
	width: fit-content;
	float: left;
	padding-left: 0px;
}

footer ul li{
	display: block;
	list-style: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color:#111;

}

footer ul li a{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color:#111;
	font-weight: 600;
	line-height: 30px;
}

.menu-second{
	display: none;
}

.footer-sm{
	width: 30px;
	float: right;
	padding-top: 10px;
}

.footer-sm img{
	width: 100%;
	margin-bottom:10px;
	line-height: 30px;
}

@media only screen and (min-width: 1000px) {
	.menu-second{
		display: block;
		padding-left: 30px;
	}
	footer ul{
		padding: 10px;
	}

	footer ul li p{
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		color:#111;
		font-weight: 100;
		line-height: 30px;
		text-transform: uppercase;
	}
	.footer-sm{
		width: 30px;
		float: right;
		padding-right: 10px;
		padding-top: 20px;

	}
}
